/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/01/2017, 9:48:50 AM
    Author     : WME
*/

.speech-listings .title a{color: #000;}
.speech-listings .speech-content{margin: 5% 0;}
.speech-listings .excerpt_class{float:left;font-size: 15px;line-height: 23px;}
.speech-listings .excerpt_class a{color: #1c9990;}
.speech-listings .divider-wrap{height: 40px;border-top: 1px solid #e1e1e1;}
.category-box select{margin: 25px 0;border: 1px solid #e1e1e1 !important;box-shadow: none !important;font-size: 15px;padding: 15px 10px !important;}
#ajax-load-more .blog-recent.columns-3 div:nth-child(3n+1){clear:both;}
#ajax-load-more .post-img{min-height: 286px;}
.category-box{display: block;margin: 0 auto;max-width: 300px;}